.navbar {
    background: #212529;
}

.nav-link,
.navbar-brand {
    color: #eeeeee;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em;
}

.nav-link:hover {
    background: #fed136;
    color: #212529;
    border-radius: .25rem;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fed136;
}

a.navbar-brand:hover {
    color: #fed136;
}

#portfolio,
#about,
#contact {
    display: flex;
    background-color: #eeeeee;
    min-height: 100vh;
    background-size: cover;
    align-items: center;
}

#header {
    display: flex;
    background-image: url("../img/mountains.jpeg");
    background-size: cover;
    height: 100vh;
    align-items: center;
}

.header-intro {
    background-size: auto auto;
    padding: 0.1em;
    padding-right: 0.5em;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(256, 209, 54, 0.8);
}

@media screen and (min-width: 992px) {
    .header-intro {
        font-size: 2em;
    }
}

@media screen and (min-width: 992px) {
    .header-intro {
        font-size: 2.5em;
    }
}

.header-intro .intro-description {
    text-transform: uppercase;
    font-weight: bold;
}

#portfolio .portfolioitem {
    margin: 1em 0;
    position: relative;
    cursor: pointer;
}

#portfolio .portfolioimg {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

#portfolio a {
    text-decoration: none;
    color: #212529;
}

#portfolio .text {
    padding: 0.5em 0;
    line-height: 1.2;
    background-color: rgba(256, 209, 54, 0.8);
    border-radius: 0.25em;
}


@media screen and (min-width: 992px) {
    .project-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #fed136;
    }

    .portfolioitem:hover .project-overlay {
        opacity: 0.8;
    }

    #portfolio .text {
        color: #212529;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

#portfolio .text h5 {
    font-weight: bold;
}

#about {
    background-color: #fed136;
    display: flex;
}

.about-heading {
    margin-bottom: 3em;
}

#about .aboutimg {
    width: 100%;
}

#about .about-description {
    align-self: center;
    padding-top: 2em;
}

@media screen and (min-width: 992px) {
    #about .about-description {
        z-index: 1;
        position: relative;
        left: -5em;
        text-align: left;
        background-color: rgba(33, 37, 41, 0.85);
        padding: 1.5em;
        color: #eeeeee;
    }
}

#contactForm {
    margin: 1em 0;
}

.form-style {
    margin-bottom: 1em;
    width: 100%;
    height: 3em;
    padding: 1em;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    line-height: 1.5;
}

textarea.form-style {
    min-height: 11em;
}

.btn {
    background-color: #fed136;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}