.navbar {
    background: #212529;
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #212529;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fed136;
}


#portfolio,
#about,
#contact {
    background-color: #eeeeee;
}